<h1>Welcome to Awesome Answers</h1>


<%= image_tag 'animals/pandas.jpeg', style: 'width: 100%'%>

<!-- <%#= image_tag 'pandas.jpeg', style: 'width: 100%'%> this code is for when the file is inside image, if you create folders inside the assets-images folder then you have to use the tag above -->
