<h1>About me</h1>

<%= image_tag('https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/1383591_521982757889328_72248226_n.jpg?oh=cebec813005a8174e65000f1e4c64cf0&oe=5867744C', width: 150, height: 150) %>

<p>Thaisa de Carvalho Marinho</p>
