// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field_with_errors input, .field_with_errors textarea {
  border-color: red;
}

.vote-link {
  color: grey;
}

.vote-link.vote-down {
  color: blue;
}
.vote-link.vote-up {
  color: orange;
}
